@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  /* Customize the background and text colors */
  --toastify-color-light: #ffffff;
  /* White background */
  --toastify-text-color-light: #4a5568;
  /* Dark grey text (like your modal headers) */

  /* Customize the success toast colors */
  --toastify-color-success: #4a5568;
  /* Dark grey background for success toast */
  --toastify-icon-color-success: #3182ce;
  /* Dark grey tick icon */

  /* Customize the progress bar */
  --toastify-color-progress-success: #3182ce;
  /* Blue progress bar */
}

@layer base {
  body {
    @apply bg-zinc-950 text-neutral-200;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}